/* Ubuntu Font Family | origin: https://github.com/earaujoassis/ubuntu-fontface */

/* BEGIN Ubuntu Light */
@font-face {
    font-family: 'Ubuntu';
    src:local('Ubuntu Light'), 
    url('fonts/ubuntu-light-webfont.woff2') format('woff2'),
    url('fonts/ubuntu-light-webfont.woff') format('woff'),
         url('fonts/ubuntu-light-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
/* END Ubuntu Light */

/* BEGIN Ubuntu Light Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Light Italic'),
    url('fonts/ubuntu-light-italic-webfont.woff2') format('woff2'),
    url('fonts/ubuntu-light-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-light-italic-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
/* END Ubuntu Light Italic */

/* BEGIN Ubuntu Regular */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu'),
         local('Ubuntu Regular'),
         local('Ubuntu-Regular'),
         url('fonts/ubuntu-regular-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('fonts/ubuntu-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* END Ubuntu Regular */

/* BEGIN Ubuntu Regular Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Italic'),
         local('Ubuntu Regular Italic'),
         url('fonts/ubuntu-regular-italic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-regular-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-regular-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
/* END Ubuntu Regular Italic */

/* BEGIN Ubuntu Medium */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium'),
         url('fonts/ubuntu-medium-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-medium-webfont.woff') format('woff'),
         url('fonts/ubuntu-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
/* END Ubuntu Medium */

/* BEGIN Ubuntu Medium Italic */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Medium Italic'),
    url('fonts/ubuntu-medium-italic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-medium-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-medium-italic-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/* END Ubuntu Medium Italic */

/* BEGIN Ubuntu Bold */
@font-face {
    font-family: 'Ubuntu';
    src: local('Ubuntu Bold'),
    url('fonts/ubuntu-bold-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('fonts/ubuntu-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* END Ubuntu Bold */

/* BEGIN Ubuntu Bold Italic */
@font-face {
    font-family: 'Ubuntu';
    src:local('Ubuntu Bold Italic'),
         url('fonts/ubuntu-bold-italic-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-bold-italic-webfont.woff') format('woff'),
         url('fonts/ubuntu-bold-italic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
/* END Ubuntu Bold Italic */

