    <footer>
        {%- comment -%}
            If '/' to '/archive', else do not. 
        {%- endcomment -%}

        {%- if page.url == "/" -%}
            {%- assign url_butt = '/archive' -%}
            {%- assign text = ' archive ' -%}
        {%- else -%}
            {%- assign url_butt = '/' -%}
            {%- assign text = ' home ' -%}
        {%- endif -%}
        {% if page.usemermaid %}
    <script type="module">
      import mermaid from '/assets/scripts/mermaid.esm.min.mjs';
      var config = {
          startOnLoad: true,
          themeVariables: {
            fontSize: '12px'
          },
          securityLevel: 'loose'
      };
      mermaid.initialize(config);
      mermaid.init({flowchart: { useMaxWidth: false, htmlLabels: true }}, document.querySelectorAll('.language-mermaid'));
    </script>
    {% endif %}
        <div class="footer">
            |<a href="{{ site.url }}{{ url_butt }}">{{ text }}</a>|
        </div> 
    </footer>
</body>
</html>
