{%- comment -%}
    For pagination-like lists of posts.
{%- endcomment %}

{%- comment -%}
    Sorry no post.excerpt:s. Do. Not. Like.
    'works' is an excerpt analogue.

    'id' in "if archive" can be used to 
    link to a specific post in the list.
{%- endcomment -%}

{% capture works %}
    {% if post.description %}
        {{ post.description | strip_html }}
    {% else %}
        {{ post.content | strip_html }}
    {% endif %}
{% endcapture %}

{%- comment -%} Det här är min grej, inte del av Kikofro {%- endcomment -%}
{%- unless post.hidden %}
<li style="list-style-type: none">
    {%- if page.title == "Archive" -%}
        {%- assign len = 67 %}
    
        <time>{{ post.date | date_to_string }} :: </time>
    
        {%- capture id -%}
            {%- increment num -%}
        {%- endcapture %}
    
        <a href="{{ site.url }}{{ post.url }}" id="{{ id }}"
            title="Post: '{{ id }}'">{{ post.title | truncate: 32}}</a>
    
    {%- else -%}
        {%- assign len = 150 %}
    
        <h2>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <time>{{ post.date | date_to_string }}</time>
    
    {%- endif -%}
    
    {%- if works.size < 115 and page.title != "Archive" %}
        <p class="desc" style="text-align: center;">
    {% else %}
        <p class="desc">
    {% endif %}
        {{- works | truncate: len | strip }}
        </p>
</li>
{% endunless -%}
