---
---

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
	font-family: Equity;
	src: url('fonts/equity_ot_b_regular.woff2');
}

@font-face {
	font-family: Equity;
	src: url('fonts/equity_ot_b_bold_italic.woff2');
	font-style: italic;
	font-weight: bold;
}

@font-face {
	font-family: Equity;
	src: url('fonts/equity_ot_b_bold.woff2');
	font-weight: bold;
}

@font-face {
	font-family: Equity;
	src: url('fonts/equity_ot_b_italic.woff2');
	font-style: italic;
}

@font-face {
	font-family: EquityCaps;
	src: url('fonts/equity_b_caps_regular.woff2');
}

@font-face {
	font-family: EquityCaps;
	src: url('fonts/equity_b_caps_bold.woff2');
	font-weight: bold;
}

html {
  	font-family: Equity, Charter, Helvetica, Arial, SimSun, STSong, sans-serif;
  	font-size: 1.12rem;
  	font-weight: normal;
  	line-height: 1.35;
}

body {
  	color: #0d0d0d;
  	background-color: #ffffff;
  	-webkit-text-size-adjust: 100%;
      	-ms-text-size-adjust: 100%;
}

.container {
  	max-width: 580px;
  	margin: auto;
}

.container_post {
  	max-width: 580px;
  	margin: auto;
}

a {
  	color: #ca0602;
  	text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
  }
}

b {
 	font-weight: normal;
 	background-color: #f2f2f2;
 	padding: 0 0.2rem 0.1rem 0.3rem;
 	border: solid 1px #800000;
 	color: black;
}

h1, h2, h3, h4, h5, h6 {
  	margin-top: 0;
  	margin-bottom: .4rem;
    margin: 1.2rem 0 0.5rem 0;
  	font-weight: normal;
  	line-height: 1;
  	color: #ca0602;
  	/* text-transform: capitalize; */
}

h1 {
  	font-size: 2rem;
		margin-bottom: 1px0;
}

{%- comment -%}
    Probably wouldn't 'h2' use this for
    actual posts. Huge in-post headers
    just don't look right.
{%- endcomment -%}

/* Index-page titles */
h2 {
  	font-size: 1.45rem;
    font-weight: 400;
		margin: 1.75rem 0 0;
}

/* In-post main heading */
h3 {
  	font-size: 1.5rem;
  	margin: 10px 0 8px 0;
}

/* In-post sub-heading */
h4 {
  	font-size: 1.25rem;
		font-weight: 300;
}

h5  {
  	font-size: 1.15em;
}

h6 {
  	font-size: 1.05rem;
  	font-weight: 300;
}

p {
		margin: 0 0 1rem;
		text-align: justify;
}

dt {
  	font-weight: bold;
}

dd {
  	margin-bottom: .5rem;
}


/* START 'ul' */
ul, li {
  	list-style: square;
  li, ul, ol {
    	list-style: inherit;
    	font-size: 0.9rem;
  }

}

/* END 'ul' */


/* START 'ol' */
ol {
	list-style: decimal;
	padding-left: 0.3rem;
	margin: .25rem 0 .25rem .25rem;

  li, ul, ol {
    	list-style: inherit;
    	font-size: 0.9rem;
  }
  li:last-child {
	margin-bottom: 1rem;
  }
}

/* END 'ol' */


p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  	margin-top: 1.5rem;
}

/*
hr {
  	border: 0;
    border-top:.5px solid #808080;
  	margin: 1.5rem auto;
}
*/

strong {
  	color: inherit;
  	font-weight: 600;
}

blockquote {
  	padding: 0 0 0 1.5rem;
  	margin: 0 2rem 1rem 0;
  	color: #4d4d4d;
  	border-left: .5rem solid #e5e5e5;

  p:last-child {
    	margin-bottom: 0;
  }
}

pre, code {
    background-color:#eeeeee;
    font-size: 0.8rem;
    font-family: 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    overflow: auto;
    text-transform: none;
}
pre {
    padding: 1rem;
}

/* Formatting of the post description.
 */
p.desc {
  	font-size: 0.8rem;
    margin-top: 0.6rem;
    margin-bottom: 1.6rem;
    text-align: justify;
}

img {
  	display: block;
  	max-width: 100%;
  	margin: 1rem auto 1rem auto;
  	border-radius: 2px;
}

table {
  	margin-bottom: 1rem;
  	width: 100%;
  	border: 1px solid #e5e5e5;
  	border-collapse: collapse;
}

td,th {
  	padding: .25rem .5rem;
  	border: 1px solid #e5e5e5;
}

time {
    font-family: EquityCaps, 'Libre Caslon Text', monospace;
    font-size: 0.8rem;
    text-decoration: overline;
	display: block;
}

.post > time {
	margin-bottom: 20px;
}

hr {
    border-bottom: .5px solid #808080;
		margin-bottom: 2.5rem;
		margin-top: 2.5rem;
}

/* START 'header' */
.header {

  &-title {
			font-weight: 400;
			font-style: italic;

    a {
      	color: #660000;

      &:hover,
      &:focus {
        	text-decoration: none;
      }
    }

    span {
      	color: #ddd;
    }

  }

  &-title--small {
    	
    margin-bottom: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;                              

    a {
      	color: #660000;

      &:hover,
      &:focus {
        	text-decoration: none;
      }
    }
  }

  .header-title {
	margin-top: 5rem;
  }

  .header-nav {
		margin-top: 5rem;
    	margin-bottom: 5rem;
		text-align: center;

    a {
      	color: #808080;
      	font-weight: 300;
      	text-transform: lowercase;
      	-webkit-transition: all .2s ease;
         	-moz-transition: all .2s ease;
              	transition: all .2s ease;

      &:hover,
      &:focus {
        	color: #333;
        	text-decoration: underline;
      }

      + a {
        	margin-left: .25rem;
    }
  }
}
}
/* END 'header' */


.tooltip {
  &:hover .tooltiptext {
    	visibility: visible;
}
    	position: relative;
    	display: inline;
    	letter-spacing: 1px;
    	text-decoration: dotted underline;
    	font-size: 100%;
}

.tooltiptext {
    	visibility: hidden;
    	min-width: 200px;
    	max-width: 3rem;
    	background-color: #f2f2f2;
    	color: #4d4d4d;
    	text-align: center;
    	line-height: 1.1;
    	font-size:  .85rem;
    	border-radius: 2px;
    	border: 1px solid #000000;
    	padding: 2px 0px 2px;

    /* Tooltip Position */
    	position: absolute;
    	z-index: 1;
    	top: 120%;
    	left: 50%;
    	margin-left: -100px;
}

.footer {
 	font-size: 20px;
 	font-weight: bold;
 	text-align: center;
 	padding: 0 0 10px 0;
 	margin: auto;
 }

@media only screen and (max-width: 570px) {

    li {
        margin: auto;
				text-align: justify;
    }
    a {
        text-decoration: none;
    }
    p.desc {
        text-align: justify;
    }
    time {
        display: none;
    }
}

{% comment %}
/* There used to be syntax highlighting stuff here.
   I decided to deem to as "too pretty" so I threw
   it out.

   If you like stuff like that you might want to
   remove the spaces and '!µµ!' and use this:

   https://web.archive.org/web/20190307122428/http!µµ!
   s://gist.githubusercontent.com/demisx/025698a7b!µµ!
   5e314a7a4b5/raw/d2086c7f59105db4da1ed8d1df8d858!µµ!
   6666f66ea/syntax.css

   Or search for it on duckduckgo or something. Sorry
   for the mangled URL. I just don't like long lines.
   "Too pretty".
*/
{% endcomment %}

/* Fuck you I'm adding syntax highlighting back */

.highlight .hll { background-color: #eeeebb }
.highlight  { background: #eeeeee; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #bb8844 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #999999 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sa { color: #bb8844 } /* Literal.String.Affix */
.highlight .sb { color: #bb8844 } /* Literal.String.Backtick */
.highlight .sc { color: #bb8844 } /* Literal.String.Char */
.highlight .dl { color: #bb8844 } /* Literal.String.Delimiter */
.highlight .sd { color: #bb8844 } /* Literal.String.Doc */
.highlight .s2 { color: #bb8844 } /* Literal.String.Double */
.highlight .se { color: #bb8844 } /* Literal.String.Escape */
.highlight .sh { color: #bb8844 } /* Literal.String.Heredoc */
.highlight .si { color: #bb8844 } /* Literal.String.Interpol */
.highlight .sx { color: #bb8844 } /* Literal.String.Other */
.highlight .sr { color: #808000 } /* Literal.String.Regex */
.highlight .s1 { color: #bb8844 } /* Literal.String.Single */
.highlight .ss { color: #bb8844 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #990000; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .vm { color: #008080 } /* Name.Variable.Magic */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */
.highlight pre {
	padding: 1em 1em;
}
code {
	font-size: 0.8rem;
	line-height: 0.6rem;
}
svg[id^="mermaid-"] { max-width: 100%; display: block; margin: auto; } 

.language-mermaid {
    width:max-content;
	text-align: center;
}